.volume-control {
  float: left;
}

input.volume-control-slider {
  width: 150px;
  float: left;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.volume-btn {
  float: left;
  margin-left: 10px;
}

.volume-control-slider-container {
  margin-top: 5px;
}

input.volume-control-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-top: -5px;
  background: white;
}

.volume-control-slider-container input.volume-control-slider::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
