html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.player-container {
  width: 100%;
  height: 100%;
}

.player-container .loading {
  display: none;
}

.player-container.loading #player {
  display: none;
}

.player-container.loading .loading {
  position: fixed;
  display: block;
}

.player-container #player {
  display: block;
}

#player {
  width: 100%;
  height: 100%;
}
