.aux-controls {
  border-bottom: 1px solid #172235;
}

.aux-controls-inner-wrapper {
  width: 250px;
  height: 50px;
  margin: 0 auto;
}

.toggle-shuffle-btn,
.toggle-repeat-btn {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.toggle-shuffle-btn.active,
.toggle-repeat-btn.active {
  color: #6BB9F0;
}

.toggle-shuffle-btn:hover,
.toggle-repeat-btn:hover {
  color: #6BB9F0;
}
