tr.song-item {
  padding: 20px 10px;  
}

.song-item .song-rank-cell {
  padding-left: 20px;
}

.song-item:hover {
  cursor: pointer;
}

table.table-songs thead th {
  padding: 8px 10px;
  border: 0;
}

table.table-songs tr.song-item td {
  border-top: 1px solid #444D60;
  padding: 10px;
}

table.table-songs tr.song-item.active td {
  background: #0E1521;
}

table.table-songs {
  border-bottom: 1px solid #444D60;
}