tr.song-item {
  padding: 20px 10px;
  box-sizing: border-box;
}

tr.song-item:hover {
  cursor: pointer;
  background-color: #1f2d47;
}

table.table-songs thead th {
  padding: 8px 10px;
  border: 0;
}

table.table-songs tr.song-item td {
  border-top: 1px solid #444D60;
  padding: 10px;
}

table.table-songs tr.song-item.active td {
  background: #0E1521;
}

.song-item td.song-saved {
  display: none;
}

.song-item.is-saved td.song-saved {
  display: block;
}

.song-item.is-saved td.song-not-saved {
  display: none;
}
