tr.song-item {
  padding: 20px 10px;
  box-sizing: border-box;
}

table.table-songs thead th {
  padding: 8px 10px;
  border: 0;
}

table.table-songs tr.song-item td {
  border-top: 1px solid #444D60;
  padding: 10px;
}

table.table-songs tr.song-item.active td {
  background: #0E1521;
}

table.table-songs {
  border-bottom: 1px solid #444D60;
}

.playlist-songs .song-rank,
.song-item .song-rank-cell {
  padding-left: 20px;
  width: 5%;
  box-sizing: border-box;
}

.playlist-songs .song-title,
.song-item .song-title-cell {
  width: 65%;
  max-width: 65%;
}

.playlist-songs .song-artist,
.song-item .song-artist-cell {
  width: 26%;
  max-width: 26%;
}