.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #515B70;
  color: white;
}

.header .brand-container {
  position: fixed;
  left: 20px;
  line-height: 40px;
}

.header .brand-container .brand-logo {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.header .brand-container .beta-logo {
  color: #ddd;
  margin-left: 7px;
  font-size: 12px;
}

.header .brand-container-sm {
  display: none;
}

@media (max-width: 900px) {
  .header .brand-container {
    display: none;
  }

  .header .brand-container-sm {
    display: block;
    position: fixed;
    left: 15px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    line-height: 40px;
  }
}
