.song-display {
  height: 70px;
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
}

.song-display.small-video {
  margin-top: 0;
}

.song-display.big-video {
  margin-top: 280px;
}

.song-display.full-video {
  display: none;
}

.song-display .song-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.song-display .song-artist {
  font-size: 14px;
}

.song-title.extra-margin-top {
  margin-top: 15px;
}
