.context-menu {
  position: fixed;
  z-index: 10;
  background-color: #293C66;
  color: white;
}

.context-menu ul {
  margin: 0;
  padding: 0;
}

.context-menu li {
  list-style: none;
  padding: 5px 20px 5px 20px;
}

.context-menu li:hover {
  background-color: #3B4E78; 
}

.expanded-context-menu {
  position: absolute;
  z-index: 10;
  background-color: #293C66;
  left: 150px;
  top: 0;
}

.context-menu,
.expanded-context-menu {
  box-shadow: 2px 2px 2px #0f1524; /* something that gives crisp border */
}
