.context-menu {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 10px;
  z-index: 10;
  background-color: grey;
  color: white;
}

.context-menu li {
  list-style: none;
  padding: 5px 5px 0 0;
}
