.playlists ul {
  padding-left: 5px;
}

.playlists .sidebar-playlist {
  cursor: pointer;
  list-style: none;
  padding: 5px;
}

.playlists .sidebar-playlist .playlist-label {
  letter-spacing: 1px;
}

.playlists .sidebar-playlist-item i {
  margin: 0 6px;
}

.playlists .sidebar-playlist ul.chart-songs {
  display: none;
}

.playlists .sidebar-playlist.expanded ul.chart-songs {
  display: block;
}

.playlists .sidebar-playlist .chart-songs .sidebar-playlist-item {
  position: relative;
  color: #ccc;
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

.playlists .sidebar-playlist .chart-songs .sidebar-playlist-item:hover {
  color: white;
}

.playlists .sidebar-playlist .chart-songs .sidebar-playlist-item.active {
  color: white;
  font-weight: bold;
}

.input-playlist-wrapper {
  list-style: none;
  padding: 5px 0;
  color: black;
}

.input-playlist-wrapper i {
  margin: 0 6px;
  color: #ccc;
}

form.form-playlist {
  display: inline;
}

input.input-playlist {
  width: 200px;
  border: 0;
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: 4px;
}

input.input-playlist:focus {
  outline: none;
}
