.sidebar {
  position: fixed;
  left: 0;
  top: 40px;
  width: 300px;
  min-height: 100%;
  background-color: #0F1624;
  height: 100%;
  color: white;
  padding: 10px;
  overflow-y: scroll;
  padding-bottom: 40px;
}

.bold {
  font-weight: bold;
}

// why do scrollbars have different heights?

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #263659;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
