.sidebar {
  position: fixed;
  left: 0;
  top: 40px;
  width: 300px;
  min-height: 100%;
  background-color: #0F1624;
  height: 100%;
  color: white;
  padding: 10px;
  overflow-y: scroll;
  padding-bottom: 40px;
}

.bold {
  font-weight: bold;
}
