.playlist-songs {
  font-size: 12px;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.playlist-songs .playlist-loading {
  display: none;
  font-size: 30px;
}

.playlist-songs.is-fetching .playlist-loading {
  display: block;
}

.playlist-songs table.table-songs {
  font-size: 14px;
  color: white;
}

.table.table-songs thead th {
  font-weight: normal;
  letter-spacing: 1px;
}

table.table-songs {
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #444D60;
}

.table-songs th {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.table-songs th.song-rank {
  width: 8%;
}

.table-songs th.song-title {
  width: 50%;
}

.table-songs th.song-artist {
  width: 24%;
}


.table-songs th.song-save {
  width: 8%;
}

.table-songs th.song-share {
  width: 8%;
}
