.playlist-songs {
  font-size: 12px;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.playlist-songs:hover {
  cursor: pointer;
}

.playlist-songs table.table-songs {
  font-size: 14px;
  color: white;
}

.table.table-songs thead th {
  font-weight: normal;
  letter-spacing: 1px;
}

.playlist-songs .song-rank {
  width: 5%;
}

.playlist-songs .song-title {
  width: 65%;
  max-width: 65%;
}

.playlist-songs .song-artist {
  width: 26%;
  max-width: 26%;
}

.playlist-songs .song-save,
.playlist-songs .song-share {
  width: 2%;
}
