.playlists ul {
  padding-left: 5px;
}

.playlists li {
  list-style: none;
  padding: 5px;
}

.playlists .playlist-label {
  letter-spacing: 1px;
}

.playlists .chart-songs .sidebar-playlist-item {
  color: #ccc;
  cursor: pointer;
}

.playlists .chart-songs .sidebar-playlist-item:hover {
  color: white;
}

.playlists .chart-songs .sidebar-playlist-item.active {
  color: white;
  font-weight: bold;
}

.sidebar-playlist-item i {
  margin: 0 6px;
}
